/* Global variables */
:root {
	--font-main: Arial, Helvetica, sans-serif;
	--dark-blue: #064273;
	--medium-blue: #76b6c4;
	--light-blue: #7fcdff;
	--sky-blue: #1da2d8;
	--pale-blue: #def3f6;
	--light-gray: hsl(220, 10%, 85%);
}

html {
	display: flex;
	min-height: 100vh;
	font-family: var(--font-main);
}

h1 {
	font-family: var(--font-main);
	margin-left: 10px;
}

i {
	border-radius: 5px;
	cursor: pointer;
	float: right;
	margin: -4px;
	padding: 6px;
}

i:hover {
	background-color: lightgray;
}

body {
	background-color: var(--pale-blue);
	margin: 0px;
}

button {
	background-color: var(--medium-blue);
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 14pt;
	font-weight: bold;
	margin: 5px;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
}

button:hover {
	background-color: var(--dark-blue);
}

dialog {
	z-index: 3;
}

header {
	float: left;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

li {
    display: block;
    font-family: var(--font-main);
    font-size: 18pt;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}


/*##########################################################################*/
/*								  Classes     						        */
/*##########################################################################*/

.actions-row {
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	justify-content: space-evenly;

}

.grid.calendar {
	background-color: var(--pale-blue);
	grid-area: calendar;
	padding: 20px;
}

.grid.heading {
	grid-area: heading;
	height: min-content;
}

.grid.protocols {
	background-color: var(--pale-blue);
	display: flex;
	flex-direction: column;
	grid-area: protocols;
	padding: 20px;
}

.grid-container {
	display: grid;
	float: left;
	grid-template-areas: 'heading heading'
						 'protocols calendar';
	grid-template-rows: min-content 500px;
	width: 100vw; /*help*/
}

.heading-items {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-blue);
}

.heading-items li {
    color: white;
    float: left;
}

.heading-items .sign-in {
    float: right;
}

.heading-items .sign-in:hover {
	background-color: var(--medium-blue);
}
#createAccount{
	padding: 5px;
	font-size:15px;
	color: black;
	background-color: white;
	text-decoration: underline;
}
.protocol {
	background-color: white;
	border: 1px solid var(--dark-blue);
	border-radius: 5px;
	cursor: move;
	margin: 10px;
	padding: 10px;
	text-align: left;
	width: 350px;
}

.protocol:hover {
	box-shadow: 0px 0px 10px var(--dark-blue);
}

.protocol-list {
	padding: 0px;
}

.sign-in {
	cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sharing-columns {
	display: flex;
	flex-direction: row;
}

.shareColumns {
	width: 50%;
	height: 100%;
}



/*##########################################################################*/
/*								  	IDs     						        */
/*##########################################################################*/

#step-delete{
	background-color: white;
	color: lightgray;
}

#step-delete:hover {
	color: gray;

}
#close{
	display:flex;
	float:center;
	background-color: red;
}
#title{
	float: center
}
#add-protocol{

	width: 50%;
	text-align: center;
}
#email{
	width: 45%;
}

#delete-protocol{
	padding:0px;
	display:flex;
	float:center;
	padding: 5px;
	margin: 10px;
}
#delete-protocol:hover {
	background-color: #e01818;

}


#shareItemModal {
	height: 50vh;
	width: 50vw;
}

#messageBox {
	height: 100%;
	width: 90%;
	max-height: 30vh;
	max-width: 90%;
	font-family: var(--font-main);

}

#contactSelector, #protocolSelector {
	height: 100%;
	width: 90%;
	max-height: 40vh;
	max-width: 90%;
}

#addcontact {
	height: 16pt;
	width: 120px;
	font-size: 12pt;
	padding: 3px;
}

#stepsEdit {
	display: grid;;
  	grid-template-columns: 10% 30% 30% 30%;
  	align-items: center;
  	grid-row-gap: 10px;
  	grid-column-gap: 5px;
}

#stepsAdd {
	display: grid;
  	grid-template-columns: auto auto auto;
  	align-items: center;
  	grid-row-gap: 10px;
  	grid-column-gap: 5px;
}

#signInModal{
	text-align: center;
}

#signInModal input{
	margin: 5px;
}
label {
	text-align: left;
	display: inline-grid;}

input {
	border-color: Gainsboro;
	border-width: 1px;
}


#newAccountModal{
	text-align: center;
	margin: 5px;
	position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#emailFill{
	width: 100%;
}

#myCalendar {
	border-width:0
	width: 800px;
	height: 480px;

}

#calTable {
	border: solid black 1px;
	border-collapse: collapse;
	width: 800px;
	max-height: 480px;
	overflow: auto;
}

td {
	border: solid 1px;
	border-color: var(--light-gray);
	height: 30px;
	overflow: visible;
	width: 100px;
	text-align: center;
	padding: 0px;
}

.calendar-step {
	position: absolute;
	width: 97px;
	border-radius: 5px;
}

table {
	background-color: white;
	font-family: var(--font-main);
}